/* side bar toggler button ------------------- */
span#sidebarToggler {
    transition: all 0.3s ease-in;
}

span#sidebarToggler.loop {
    transform: rotate(180deg);
}

div#sidebar {
    height: calc(100vh - 68px);
    transform: translate(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 10;
    overflow-y: auto;
}

div#sidebar.showside {
    transform: translate(0%);
}

div#sidebar ul.nav a.nav-link {
    color: #EEE;
}

@media (max-width: 768px) {
    div#sidebar {
        height: calc(100vh - 63px);
        transform: translate(-100%);
    }


}

/* // media for mbile -----------------  */
@media (max-width: 450px) {
    div#sidebar {
        transform: translate(0%)
    }

    div#sidebar.showside {
        transform: translate(-100%);
    }

    span#sidebarToggler.loop {
        transform: rotate(180deg);
    }

    .card-title.text-muted.font-weight-bold {
        font-size: 17px;
    }

    .btn.btn-outline-secondary.btn-sm,
    #btnPrint {
        font-size: 12px;
    }

    .col-12.col-sm-6.col-md-4.col-lg {
        margin: 10px 0;
        border-bottom: 2px solid #7f7f7f61;
        padding-bottom: 10px;
    }

    .card-title.text-muted {
        font-size: 22px;
    }

    .table-responsive>.table-bordered {
        font-size: 12px;
    }

    table .t-btn {
        font-size: 15px;
    }

    .card-body {
        padding: 1px 0;
    }
}

div#sidebar i.ar1,
div#sidebar i.ar2 {
    transition: all .3s ease-in-out;
}

div#sidebar i.ar1.arrotate,
div#sidebar i.ar2.arrotate {
    transform: rotate(90deg);

}


/* main content =========================== */

div.main-content {
    transition: all 0.2s ease-in-out;
}